.popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(51, 51, 51,.8);
    top: 0;
    left: 0;
    z-index: 4000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;

    &:target {
        visibility: visible;
        opacity: 1;
    }

    &:target &-content {
        transform: translate(-50%,-50%) scale(1);
        visibility: visible;
    }
   



    &-content {
        @include absoluteCenter;
        width: 80%;
        height: 36rem;
        background: $color_white;
        box-shadow: 0 1.2rem 2.4rem rgba( 0,0,0, .6 );
        border-radius: 5px;
        display: table;
        overflow: hidden;
       // opacity: 0;
        transform: translate(-50%,-50%) scale(0);
        transition: all .5s .4s;
       
    }

    &-left {
        width: 33.33333%;
        display: table-cell;
       
        img {
            width: 100%;
            height: 18rem;
            display: block;
        }
    }
    &-right {
        width: 66.66666%;
        display: table-cell;
        vertical-align:  middle;
        padding: 1.8rem 3rem;
    
    .text {
        font-size: .95rem;
        color: rgb(27, 27, 27);
        margin-bottom: 2.4rem;
        column-count: 2;
        column-gap: 2.4rem;
        column-rule: 1px solid rgba($Color-grey,.4);
    
    p{
        &:last-child{
        @include respond(tab-port){
            display: none;
        }
    }
    }}

    }

    .close {
        position: absolute;
        top: 1.23rem;
        right: 1.5rem;
        color: $Color-darkGrey;
        font-size: 1.8rem;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;

        &:hover {
            color: red
        }
    }
}
