.story {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 1.6rem 3.3rem $Color-grey;
    background: rgba($color_white,.8);
    border-radius: 3px;
    padding: 3.2rem;
    padding-left: 4.4rem;
    font-size: 1rem;
    transform: skewX(-12deg);

    @include respond(tab-port){
        transform: skew(0);
        width: 100%;
    }
 

@include clearfix;
    &-shape {
        position:  relative;
        width: 8rem;
        height: 8rem;
        float: left;
        -webkit-shape-outside: circle(48% at 50% 52%);
        shape-outside: circle(50% at 50% 52%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-1rem) skewX(12deg);

        @include respond(tab-port){
            transform: skew(0);
            transform: translateX(-2rem);
        }
    }
        img {
            height: 100%;
            transform: translateX(-2.2rem) scale(1.4);
            backface-visibility: hidden;
            transition: all .5s;

            @include respond(tab-port){
       
               transform: translateX(-2.2rem) scale(1);
            }
        }
        &-text {
            transform: skewX(12deg);

            @include respond(tab-port){
                transform: skew(0);
                
            }
        }
   
    &-caption {
        position:  absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color_white;
        font-size: 1rem;
        font-weight:  500;
        text-align:  center;
        opacity: 0;
        transition: all .4s ease;
        backface-visibility:  hidden;
        

    }

    &:hover &-caption {
        opacity: 1;
        transform: translate(-50% , -50%);
    }
    &:hover img {
        transform: translateX(-2.2rem) scale(1);
        filter: blur(3px) brightness(80%);
    
    }

}