

.about {
    background-color: $main-background;
    padding: 15rem 0 ;
    margin-top: -5rem;

   
    @include respond(tab-land){
        padding-bottom: 30rem;
     
    }
    @include respond(phone){
        padding-bottom:20rem ;
     
    }

}

.features {
    padding : 14.6rem 0;
    background-image :  repeating-linear-gradient(to right top, rgba(26, 91, 150,.6), rgba(0, 112, 164,.6), rgba(0, 132, 174,.6), 
    rgba(0, 151, 180,.6),rgba(40, 170, 183,.6), rgba(53, 171, 177,.6), rgba(65, 172, 171,.6),
     rgba(76, 172, 165,.6), rgba(63, 156, 150,.6),
     rgba(50, 140, 134,.6), rgba(36, 124, 120,.6),
     rgba(21, 109, 105,.6)) ,url('../../images/nat-4.jpg'); 
     background-size: cover;
     background-position:  center;
     background-repeat:  no-repeat;
     clip-path: polygon(0 12% , 100% 0 , 100% 88%, 0 100%);  
     margin-top: -8rem;
     
     @include respond(tab-land){
       margin-top: -12rem
    }
}

.rotate-section {
    background: $main-background;
    padding: 15rem 0 calc(15rem * .6) 0;
    margin-top: -6.6rem;

    @include respond(tab-land){
        margin-top:-8rem !important;
    }

    @include respond(tab-port){
        margin-top: -15rem !important;
    }
}

.stories {
    padding: 7rem 0 ;
    position: relative;
    
}

.section-book {
    padding: 7rem 0 ;
    background-image:  repeating-radial-gradient(rgba(249, 178, 92, 0.91), rgba(101, 118, 155, 0.45) );    
}
.book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../images/nat-6.jpg);
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    height: 40rem; 

    @include respond(tab-land){
        background-size: 130%;
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../images/nat-6.jpg);
    }

    @include respond(phone){
        background-size: 0;
    }
}