/*
$screens 
0 - 600 = phones 
600 - 900 = tablets
900 - 1200 = tablet landscape
[1200 - 1800] our normal style
1800+ big desktop
*/
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 1;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 1;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fromDown {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    opacity: 1;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translatey(-400px); }
  80% {
    opacity: .8;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0);
    display: block; } }
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 1;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777; }

html {
  overflow-x: hidden;
  padding: 0;
  font-size: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 90%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 77%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 80%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 120%; } }

body {
  padding: 20px; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.mine {
  background-image: linear-gradient(to right, #f2fffe, #e5f0f1, #c2c3c5, #e1e1e1, #f0f0f0, #ffffff, #cd6799, #cd6799);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0 20rem 2rem #020607;
  -webkit-animation-name: fromTop;
  -moz-animation-name: fromTop;
  animation-name: fromTop;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  z-index: 50; }
  @media only screen and (max-width: 37.5em) {
    .mine {
      background-image: linear-gradient(to right, #f2fffe, #e5f0f1, #c2c3c5, #e1e1e1, #f0f0f0, #ffffff, #cd6799);
      -webkit-background-clip: text;
      color: transparent; } }

.header-main-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  backface-visibility: hidden; }
  .header-main-text h1 {
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 1px;
    text-transform: uppercase;
    -webkit-animation-name: fromLeft;
    -moz-animation-name: fromLeft;
    animation-name: fromLeft;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1; }
    .header-main-text h1 span:first-child {
      letter-spacing: 3px;
      font-size: 3.7rem;
      font-weight: bolder;
      text-shadow: 0 9px 8px #777; }
      @media only screen and (max-width: 37.5em) {
        .header-main-text h1 span:first-child {
          font-size: 2rem;
          word-spacing: normal; } }
    .header-main-text h1 span:last-child {
      color: #d84a17;
      font-weight: bolder;
      font-size: 3rem;
      text-shadow: 0 2px 5px #777; }
      @media only screen and (max-width: 37.5em) {
        .header-main-text h1 span:last-child {
          font-size: 2rem;
          word-spacing: normal; } }
  .header-main-text p {
    font-size: 1.7rem;
    backface-visibility: hidden;
    margin-bottom: 60px;
    -webkit-animation-name: fromRight;
    -moz-animation-name: fromRight;
    animation-name: fromRight;
    -webkit-animation-duration: 2.2s;
    -moz-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1; }
    @media only screen and (max-width: 37.5em) {
      .header-main-text p {
        font-size: 1.4rem;
        word-spacing: normal; } }

.heading-secondary {
  text-transform: uppercase;
  font-size: 2.7rem;
  font-weight: bolder;
  background-image: repeating-linear-gradient(to bottom, #646b6d, #727b7e, #808b90, #8f9ba2, #9eacb5, #97a6af, #8f9fa8, #8899a2, #6a7b82, #4e5f62, #344445, #1c2a29);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  display: inline-block;
  transition: all .2s ease-in-out;
  text-align: center;
  z-index: 900; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem;
      word-spacing: normal;
      text-align: center; } }
  .heading-secondary:hover {
    transform: skewY(4deg) skewX(15deg) scale(1.01);
    text-shadow: 2px 7px 10px rgba(119, 119, 119, 0.6); }

.heading-th {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444cc;
  margin-bottom: .6rem; }

.about p {
  font-size: 1.04rem;
  font-weight: 400;
  color: #777; }
  .about p:not(:last-child) {
    margin-bottom: 2rem; }

.u-text-center {
  text-align: center; }

.u-margin-b-5 {
  margin-bottom: 5rem; }

.about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -5rem; }
  @media only screen and (max-width: 75em) {
    .about {
      padding-bottom: 30rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding-bottom: 20rem; } }

.features {
  padding: 14.6rem 0;
  background-image: repeating-linear-gradient(to right top, rgba(26, 91, 150, 0.6), rgba(0, 112, 164, 0.6), rgba(0, 132, 174, 0.6), rgba(0, 151, 180, 0.6), rgba(40, 170, 183, 0.6), rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6), rgba(76, 172, 165, 0.6), rgba(63, 156, 150, 0.6), rgba(50, 140, 134, 0.6), rgba(36, 124, 120, 0.6), rgba(21, 109, 105, 0.6)), url("../../images/nat-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 12%, 100% 0, 100% 88%, 0 100%);
  margin-top: -8rem; }
  @media only screen and (max-width: 75em) {
    .features {
      margin-top: -12rem; } }

.rotate-section {
  background: #f7f7f7;
  padding: 15rem 0 calc(15rem * .6) 0;
  margin-top: -6.6rem; }
  @media only screen and (max-width: 75em) {
    .rotate-section {
      margin-top: -8rem !important; } }
  @media only screen and (max-width: 56.25em) {
    .rotate-section {
      margin-top: -15rem !important; } }

.stories {
  padding: 7rem 0;
  position: relative; }

.section-book {
  padding: 7rem 0;
  background-image: repeating-radial-gradient(rgba(249, 178, 92, 0.91), rgba(101, 118, 155, 0.45)); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../images/nat-6.jpg);
  background-size: 100%;
  border-radius: 10px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 40rem; }
  @media only screen and (max-width: 75em) {
    .book {
      background-size: 130%;
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../images/nat-6.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .book {
      background-size: 0; } }

.header {
  height: 90vh;
  background-image: repeating-linear-gradient(to right top, rgba(26, 91, 150, 0.6), rgba(0, 112, 164, 0.6), rgba(0, 132, 174, 0.6), rgba(0, 151, 180, 0.6), rgba(40, 170, 183, 0.6), rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6), rgba(76, 172, 165, 0.6), rgba(63, 156, 150, 0.6), rgba(50, 140, 134, 0.6), rgba(36, 124, 120, 0.6), rgba(21, 109, 105, 0.6)), url("../../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header .logo-box {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 3.5rem;
    height: 2.6rem; }
    .header .logo-box img {
      height: 100%; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2.8rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer; }
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn:hover:active, .btn:hover:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
.btn-animated {
  animation: fromDown .5s ease-out .75s;
  animation-fill-mode: backwards; }
.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }
.btn-green {
  background-image: repeating-linear-gradient(to right top, rgba(26, 91, 150, 0.6), rgba(0, 112, 164, 0.6), rgba(0, 132, 174, 0.6), rgba(0, 151, 180, 0.6), rgba(40, 170, 183, 0.6), rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6), rgba(76, 172, 165, 0.6), rgba(63, 156, 150, 0.6), rgba(50, 140, 134, 0.6), rgba(36, 124, 120, 0.6), rgba(21, 109, 105, 0.6));
  color: #fff; }
  .btn-green::after {
    background-image: repeating-linear-gradient(to bottom, #646b6d, #727b7e, #808b90, #8f9ba2, #9eacb5, #97a6af, #8f9fa8, #8899a2, #6a7b82, #4e5f62, #344445, #1c2a29); }
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
.btn--animated {
  -webkit-animation-name: fromRight;
  -moz-animation-name: fromRight;
  animation-name: fromRight;
  -webkit-animation-duration: 3.4;
  -moz-animation-duration: 3.4s;
  animation-duration: 3.4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  color: #777;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding: 3px;
  transition: all .2s;
  cursor: pointer; }
  .btn-text:link:hover, .btn-text:visited:hover {
    background-image: repeating-linear-gradient(to right top, rgba(26, 91, 150, 0.6), rgba(0, 112, 164, 0.6), rgba(0, 132, 174, 0.6), rgba(0, 151, 180, 0.6), rgba(40, 170, 183, 0.6), rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6), rgba(76, 172, 165, 0.6), rgba(63, 156, 150, 0.6), rgba(50, 140, 134, 0.6), rgba(36, 124, 120, 0.6), rgba(21, 109, 105, 0.6));
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    cursor: pointer; }
  .btn-text:link:active, .btn-text:visited:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.aboutPics {
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .aboutPics {
      padding-bottom: 4rem; } }
  .aboutPics-photo {
    width: 55%;
    position: absolute;
    border: none;
    box-shadow: 0 1rem 2.6rem rgba(119, 119, 119, 0.5);
    border-radius: 10px;
    z-index: 10;
    transition: all .4s linear; }
    @media only screen and (max-width: 75em) {
      .aboutPics-photo {
        width: 54%; } }
    @media only screen and (max-width: 37.5em) {
      .aboutPics-photo {
        width: 40%;
        margin: auto; } }
    .aboutPics-photo-1 {
      top: -1.4rem;
      left: 0; }
    .aboutPics-photo-2 {
      top: 1.4rem;
      right: 0; }
      @media only screen and (max-width: 56.25em) {
        .aboutPics-photo-2 {
          left: 20rem; } }
      @media only screen and (max-width: 37.5em) {
        .aboutPics-photo-2 {
          left: 0rem; } }
    .aboutPics-photo-3 {
      left: 20%;
      top: 5.5rem; }
      @media only screen and (max-width: 75em) {
        .aboutPics-photo-3 {
          top: 3.9rem; } }
      @media only screen and (max-width: 56.25em) {
        .aboutPics-photo-3 {
          top: 4.9rem; } }
    .aboutPics-photo:hover {
      outline: 1rem solid #41acab;
      outline-offset: 1rem;
      z-index: 20;
      transform: scale(1.1) scaleY(-5px);
      box-shadow: 0 1.8rem 3.1rem rgba(68, 68, 68, 0.5); }
  .aboutPics:hover .aboutPics-photo:not(:hover) {
    transform: scale(0.9); }
  @media only screen and (max-width: 75em) {
    .aboutPics {
      margin-bottom: 3rem; } }

.row {
  max-width: 80%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6.3rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 1rem; } }
  @media only screen and (max-width: 75em) {
    .row {
      max-width: 80vw;
      padding: 0 1rem;
      margin: 2rem auto !important; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-bottom: 6.3rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4.2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4.2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4.2rem) / 3) + 4.2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4.2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4.2rem) / 4) + 4.2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4.2rem) / 4) + 2 * 4.2rem); }

.footer {
  background-color: #777;
  padding: 2rem 0 4rem 0;
  font-size: .8rem;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-content: center;
      height: 30rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer .row {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      align-content: center; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 2rem;
        margin-top: 8rem; } }
  .footer__logo {
    width: 8rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #fff;
    padding-top: .8rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        margin: auto;
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: .8rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    background-color: #777;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer::after {
    content: "";
    display: table;
    clear: both; }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 1.2rem;
    margin-top: -4rem !important;
    width: 80%;
    float: right;
    text-align: center;
    margin: auto; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        margin: auto; } }

.feature-box {
  background: rgba(247, 247, 247, 0.5);
  padding: 2rem;
  text-align: center;
  border-radius: .5rem;
  box-shadow: 0 1.2rem 3.6rem rgba(68, 68, 68, 0.8);
  transition: all .4s linear;
  backface-visibility: hidden; }
  .feature-box svg {
    font-size: 3.2rem;
    color: #777;
    margin-bottom: 1rem; }
  .feature-box-text {
    font-size: 1rem; }
  .feature-box:hover {
    transform: translatey(-8px) scale(1.08);
    box-shadow: 0 2.2rem 4rem rgba(68, 68, 68, 0.8);
    background: repeating-linear-gradient(to right top, rgba(26, 91, 150, 0.6), rgba(0, 112, 164, 0.6), rgba(0, 132, 174, 0.6), rgba(0, 151, 180, 0.6), rgba(40, 170, 183, 0.6), rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6), rgba(76, 172, 165, 0.6), rgba(63, 156, 150, 0.6), rgba(50, 140, 134, 0.6), rgba(36, 124, 120, 0.6), rgba(21, 109, 105, 0.6));
    background: rgba(247, 247, 247, 0.8); }
  .feature-box:hover h3 {
    background-image: repeating-linear-gradient(to bottom, #646b6d, #727b7e, #808b90, #8f9ba2, #9eacb5, #97a6af, #8f9fa8, #8899a2, #6a7b82, #4e5f62, #344445, #1c2a29);
    font-weight: 800;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover p {
    color: #2e2d2dcc;
    transform: scale(1.09); }
  .feature-box:hover svg {
    color: #0d5a72cc; }

.card-rotate {
  perspective: 120rem;
  -moz-perspective: 120rem;
  text-align: center;
  position: relative;
  margin: auto; }
  @media only screen and (max-width: 75em) {
    .card-rotate {
      width: 80%; } }
  .card-rotate-front, .card-rotate-back {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 33rem;
    width: 100%;
    backface-visibility: hidden;
    transition: all .7s linear;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(68, 68, 68, 0.8);
    overflow: hidden;
    color: #444444cc; }
  .card-rotate-front {
    transform: rotateY(0deg);
    position: relative; }
    .card-rotate-front .front-heading {
      position: absolute;
      text-align: right;
      color: #fff;
      top: 10rem;
      right: 1rem;
      width: 60%;
      text-transform: uppercase;
      font-size: 1.5rem; }
      .card-rotate-front .front-heading span {
        background-image: repeating-linear-gradient(to right top, rgba(26, 91, 150, 0.6), rgba(0, 112, 164, 0.6), rgba(0, 132, 174, 0.6), rgba(0, 151, 180, 0.6), rgba(40, 170, 183, 0.6), rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6), rgba(76, 172, 165, 0.6), rgba(63, 156, 150, 0.6), rgba(50, 140, 134, 0.6), rgba(36, 124, 120, 0.6), rgba(21, 109, 105, 0.6));
        color: #d84a17;
        padding: .5rem .8rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        font-weight: 800;
        color: #fff; }
      .card-rotate-front .front-heading .s-1 {
        background-image: linear-gradient(to right bottom, rgba(21, 224, 130, 0.6), rgba(14, 150, 86, 0.6)); }
      .card-rotate-front .front-heading .s-2 {
        background-image: linear-gradient(to right bottom, rgba(196, 191, 125, 0.6), rgba(111, 143, 36, 0.6)); }
      .card-rotate-front .front-heading .s-3 {
        background-image: linear-gradient(to right bottom, rgba(175, 34, 34, 0.6), rgba(160, 77, 77, 0.6)); }
    .card-rotate-front .front-details {
      margin: 2rem auto;
      width: 85%; }
  .card-rotate-back {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, #9bc7c2, #dad5c7, #c9c4c1, #d6cfcf, #a1cfe4);
    color: #fff;
    transform: rotateY(180deg); }
    .card-rotate-back ul {
      list-style: none; }
      .card-rotate-back ul li {
        font-size: .9rem;
        padding: .6rem;
        font-weight: 300;
        width: 100%; }
        .card-rotate-back ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .card-rotate:hover .card-rotate-front {
    transform: rotateY(-180deg); }
  .card-rotate:hover .card-rotate-back {
    transform: rotateY(0); }
  .card-rotate .front-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card-rotate .front-img-1 {
      background-image: linear-gradient(to right bottom, rgba(53, 171, 177, 0.6), rgba(65, 172, 171, 0.6)), url("../../images/nat-5.jpg");
      background-position: bottom; }
    .card-rotate .front-img-2 {
      background-image: linear-gradient(to right bottom, rgba(21, 224, 130, 0.6), rgba(14, 150, 86, 0.6)), url("../../images/nat-6.jpg");
      background-position: bottom; }
    .card-rotate .front-img-3 {
      background-image: linear-gradient(to right bottom, rgba(184, 88, 33, 0.6), rgba(92, 92, 92, 0.6)), url("../../images/nat-7.jpg");
      background-position: bottom; }
  .card-rotate .back-1 {
    background-image: linear-gradient(to right bottom, rgba(21, 224, 130, 0.6), rgba(14, 150, 86, 0.6)); }
  .card-rotate .back-2 {
    background-image: linear-gradient(to right bottom, rgba(196, 191, 125, 0.6), rgba(111, 143, 36, 0.6)); }
  .card-rotate .back-3 {
    background-image: linear-gradient(to right bottom, rgba(175, 34, 34, 0.6), rgba(160, 77, 77, 0.6)); }

.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 1.6rem 3.3rem #777;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 3.2rem;
  padding-left: 4.4rem;
  font-size: 1rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      transform: skew(0);
      width: 100%; } }
  .story::after {
    content: "";
    display: table;
    clear: both; }
  .story-shape {
    position: relative;
    width: 8rem;
    height: 8rem;
    float: left;
    -webkit-shape-outside: circle(48% at 50% 52%);
    shape-outside: circle(50% at 50% 52%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1rem) skewX(12deg); }
    @media only screen and (max-width: 56.25em) {
      .story-shape {
        transform: skew(0);
        transform: translateX(-2rem); } }
  .story img {
    height: 100%;
    transform: translateX(-2.2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
    @media only screen and (max-width: 56.25em) {
      .story img {
        transform: translateX(-2.2rem) scale(1); } }
  .story-text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 56.25em) {
      .story-text {
        transform: skew(0); } }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: all .4s ease;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover img {
    transform: translateX(-2.2rem) scale(1);
    filter: blur(3px) brightness(80%); }

.popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(51, 51, 51, 0.8);
  top: 0;
  left: 0;
  z-index: 4000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup-content {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible; }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 36rem;
    background: #fff;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: all .5s .4s; }
  .popup-left {
    width: 33.33333%;
    display: table-cell; }
    .popup-left img {
      width: 100%;
      height: 18rem;
      display: block; }
  .popup-right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 1.8rem 3rem; }
    .popup-right .text {
      font-size: .95rem;
      color: #1b1b1b;
      margin-bottom: 2.4rem;
      column-count: 2;
      column-gap: 2.4rem;
      column-rule: 1px solid rgba(119, 119, 119, 0.4); }
      @media only screen and (max-width: 56.25em) {
        .popup-right .text p:last-child {
          display: none; } }
  .popup .close {
    position: absolute;
    top: 1.23rem;
    right: 1.5rem;
    color: #444444cc;
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
    .popup .close:hover {
      color: red; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
  overflow: hidden;
  z-index: -1; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .bg-video h2 {
    z-index: 200; }

.form {
  width: 50%;
  padding: 3.2rem;
  /* i put + because label is sibiling with input not a child, and + mean first sibling but if there a sibiling between them we use ~ */ }
  @media only screen and (max-width: 75em) {
    .form {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 100%;
      margin: auto; } }
  .form .heading-secondary {
    margin-bottom: 2rem !important; }
  .form-group:not(:last-child) {
    margin-bottom: 1.9rem; }
  .form-input {
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    padding: .9rem 1.3rem;
    border-radius: 2px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
    @media only screen and (max-width: 75em) {
      .form-input {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .form-input {
        width: 100%;
        margin: auto; } }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form-input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form-input::-webkit-input-placeholder {
    color: #999; }
  .form-label {
    font-size: .74rem;
    font-weight: 700;
    margin-left: 1.3rem;
    margin-top: .2rem;
    display: block;
    transition: all .3s;
    transition: all 0.5s; }
  .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2.6rem);
    /* we use visibility additional to opacity to make it hidden from the page, and use opacity : bacause visibility can't animated*/ }
  .form-radio-group {
    width: 45%;
    display: inline-block;
    margin-bottom: 1.7rem; }
    @media only screen and (max-width: 37.5em) {
      .form-radio-group {
        width: 100%;
        display: block;
        margin: 1rem;
        text-align: left; } }
  .form-radio-input {
    display: none; }
  .form-radio-label {
    cursor: pointer;
    font-size: 1rem;
    padding-left: 2.3rem;
    position: relative; }
  .form-radio-button {
    height: 1.8rem;
    width: 1.8rem;
    border: 5px solid #d84a17;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: -.23rem; }
    .form-radio-button::after {
      content: '';
      height: .65rem;
      width: .65rem;
      clip-path: circle(50% at 50% 50%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #d84a17;
      opacity: 0;
      transition: all .3s; }
  .form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
    opacity: 1; }
  .form button {
    display: inline-block;
    width: 37%;
    font-size: 1rem;
    padding: .5rem .1rem;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .form button {
        width: 100%;
        display: block;
        margin: 1rem;
        text-align: center; } }

.navigation__checkbox {
  display: none; }
.navigation__button {
  background-color: #fff;
  height: 4.2rem;
  width: 4.2rem;
  position: fixed;
  top: 3.6rem;
  right: 3.6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 0.6rem 1.8rem rgba(51, 51, 51, 0.1);
  text-align: center;
  cursor: pointer; }
.navigation__background {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.8rem;
  right: 3.8rem;
  background-image: radial-gradient(#7fc3c5, #11536d);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.navigation__list {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
.navigation__item {
  margin: .6rem; }
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  padding: .6rem 1.2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(115deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  display: none; }
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #18578a;
  transform: translateX(0.65rem); }
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
.navigation__checkbox:checked ~ .navigation__nav .navigation__list .navigation__item .navigation__link {
  display: inline-block; }
.navigation__icon {
  position: relative;
  margin-top: 1.9rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 1.8rem;
    height: 2px;
    background-color: #444444cc;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.48rem; }
  .navigation__icon::after {
    top: .48rem; }
.navigation__button:hover .navigation__icon::before {
  top: -1rem; }
.navigation__button:hover .navigation__icon::after {
  top: 1rem; }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

/* 
        End Of header
*/
/* 
        Beggining Of about 
*/

/*# sourceMappingURL=main.css.map */
