.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color_white;
        height: 4.2rem;
        width: 4.2rem;
        position: fixed;
        top: 3.6rem;
        right: 3.6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 .6rem 1.8rem rgba(#333, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 3.6rem;
        width: 3.6rem;
        border-radius: 50%;
        position: fixed;
        top: 3.8rem;
        right: 3.8rem;
        background-image: radial-gradient(rgb(127, 195, 197), rgb(17, 83, 109));
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

        //transform: scale(80);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }

    &__list {
        position: absolute;
        @include absoluteCenter;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: .6rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 300;
            padding: .6rem 1.2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(115deg, transparent 0%, transparent 50%, $color_white 50%);
            background-size: 220%;
            transition: all .4s;
            display: none;
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: rgb(24, 87, 138);
            transform: translateX(.65rem);
        }
    }


    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox:checked ~ &__nav &__list  &__item  &__link {
        display:  inline-block;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 1.9rem;

        &,
        &::before,
        &::after {
            width: 1.8rem;
            height: 2px;
            background-color: $Color-darkGrey;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.48rem; }
        &::after { top: .48rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

   
}